// theme color
$accentColor = rgba(0, 161, 241, 1)
$pageColor = rgba(245,255,250, 1)
// layout
$contentWidth = 1000px
// code lang
$codeLang = js cs ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile txt